{% extends "layout.html" %}
{% block content %}
      <img src="https://github.com/BUEC500C1/twitter-summarizer-rest-service-bdjbray/blob/master/flask/imgs/twitter_logo.jpg?raw=true" alt="Simply Easy Learning" width="150"
         height="60">
<form action="/hello" method="post">
  <label for="fname">Please type the username of the user:</label><br>
                Username: <input type="text" name="user_name">  <br />
                <input type="submit" name= "form" value="Submit" /><br>
            </form>
<label for="fname">One demo :</label><br><br>
<img src="https://github.com/BUEC500C1/twitter-summarizer-rest-service-bdjbray/blob/master/imgs/result.png?raw=true" width="800"
         height="400">
        <article class="media content-section">
        </article>
{% endblock content %}


