{% extends "layout.html" %}
{% block content %}
      <img src="https://lh3.googleusercontent.com/proxy/LezJEhno8HTWRkwKFPIHCML7OGMXojKoZf_NgJi7VRr5dPaAIJgj0nHEbyMJFXZFOOHemxax7QPBp4B8kSpvoi-PLqq5fRk1moB6N0uP3bLejjka6fZFGWbY8CcMqQ" alt="Simply Easy Learning" width="150"
         height="60">
  <form action="/action_page.php">
  <label for="fname">the user you want to check:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="fname">please type username not realname</label><br><br>
  <input type="submit" value="Submit"><br><br>
</form>
<label for="fname">One demo :</label><br><br>
<img src="https://github.com/BUEC500C1/twitter-summarizer-rest-service-bdjbray/blob/master/imgs/result.png?raw=true" width="800"
         height="400">
        <article class="media content-section">
        </article>
{% endblock content %}